[Desktop Entry]
Version=1.0
Name=PeonOrderSystem
Comment=Point-of-sales Ordering system
Exec=/home/carl-m/bin/POS
Terminal=False
Icon=/home/carl-m/workspace/python/PeonOrderSystem/data/media/peon-order-system.svg
Type=Application
Categories=Application;
